#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/dpkg/default.mk

%:
	dh $@ --with=autoreconf

override_dh_auto_configure:
	$(overridden_command) -- --disable-static --libdir /usr/lib

override_dh_autoreconf:
	echo ${DEB_VERSION_UPSTREAM} > .tarball-version
	$(overridden_command)

override_dh_auto_clean:
	if [ -f .tarball-version ]; then rm .tarball-version; fi
	$(overridden_command)

override_dh_shlibdeps:
	$(overridden_command) --dpkg-shlibdeps-params=--ignore-missing-info -l/usr/lib/${DEB_HOST_MULTIARCH}/pulseaudio:/usr/lib/pulse-*/modules

override_dh_auto_install:
	$(overridden_command)

	rm debian/tmp/usr/lib/pulse-*/modules/*.la

	install -d debian/tmp/usr/include/pulsecore/modules/droid
	install -m 644 src/common/*.h debian/tmp/usr/include/pulsecore/modules/droid
	install -d debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig
	install -m 644 src/common/*.pc debian/tmp/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig
